@model IEnumerable<WebService.Models.Respuestas>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TituloRespuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextoRespuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correcto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ponderacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preguntas.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pruebas.Titulo)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloRespuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoRespuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correcto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ponderacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preguntas.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pruebas.Titulo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdT_Respuesta }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdT_Respuesta }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdT_Respuesta })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
