@model IEnumerable<WebService.Models.Segmentos>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_SegmentoPadre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdF_Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cursos.Nombre)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_SegmentoPadre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdF_Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cursos.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdT_Segmento }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdT_Segmento }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdT_Segmento })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
